<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>회원 등록/수정</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>회원 등록/수정</h1>-->
<!--<<form th:unless="${member.userCode == null}" th:action="@{'/members/update/' + ${member.userCode}}" method="post" th:object="${member}">-->
<!--  이름: <input type="text" th:field="*{userName}" /><br/>-->
<!--  주소: <input type="text" th:field="*{userAddress}" /><br/>-->
<!--  등급: <input type="text" th:field="*{userMembershipLevel}" /><br/>-->
<!--  전화번호: <input type="text" th:field="*{userPhoneNumber}" /><br/>-->
<!--  반려동물 종류: <input type="text" th:field="*{animalBreed}" /><br/>-->
<!--  <button type="submit">저장</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->