<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title th:text="${notice.noticeTitle}">공지사항 상세</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="${notice.noticeTitle}"></h1>-->
<!--<p>등록일: <span th:text="${notice.noticeCreatedDate}"></span></p>-->
<!--<p th:text="${notice.noticeContent}"></p>-->

<!--&lt;!&ndash; 공지사항 목록으로 돌아가기 링크 &ndash;&gt;-->
<!--<a th:href="@{'/members/user-notice-list'}">목록으로 돌아가기</a>-->


<!--</body>-->
<!--</html>-->