<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>Panda Restaurant</h1>
<button onclick="location.href='/notice/notice-list_ver1'">관리자 공지사항</button>

<button onclick="location.href='/notice/faq-list'">관리자 자주묻는질문</button>


<button onclick="location.href='/members/user-notice-list'">사용자 공지들 목록테스트</button>
<button onclick="location.href='/members/notice-faq-list'">사용자 자주묻는질문</button>

<button onclick="location.href='/cart/cart-list'">사용자 장바구니</button>
<!--<button onclick="location.href='/members/user-notice-list'">사용자 공지사항</button>-->


<!--<button onclick="location.href='/menu/querymethod'">쿼리메소드 테스트</button>-->
<!--<button onclick="location.href='/menu/regist'">메뉴 등록하기</button>-->
<!--<button onclick="location.href='/menu/modify'">메뉴 이름 수정하기</button>-->
<!--<button onclick="location.href='/menu/delete'">메뉴 삭제하기</button>-->

</body>
</html>