<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원비밀번호를 통해 접근 가능</title>
</head>
<body>

    <div class="card-body">
        <div class="text-start">
            <input type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
            <div class="input-group input-group-outline my-3">
                <label class="form-label">비밀번호 확인</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
        </div>
        <div class="text-center">
            <button class="btn bg-gradient-primary w-100 my-4 mb-2" id="checkPwd"> 비밀번호 확인</button>
        </div>
    </div>

    <script type="text/javascript">
      $(document).on('click', '#checkPwd', function() {
        const checkPassword = $('#password').val();
        if(!checkPassword || checkPassword.trim() === ""){
          alert("비밀번호를 입력하세요.");
        } else{
          $.ajax({
            type: 'POST', // GET 방식에서 POST 방식으로 변경
            url: '/checkPwdForm',       // 입력받은 비밀번호를 /checkPwdForm 컨트롤러에 POST 방식으로 결괏값을 반환받는다.
            data: {'checkPassword': checkPassword},
            datatype: "text"
          }).done(function(result){
            console.log(result);
            if(result){
              console.log("비밀번호 일치");
              // window.location.href="/members/updateForm";
              window.location.href="/user_profile_edit"; // 결과가 truce 이면 비밀번호가 일치하므로 회원정보수정페이지로 이동한다.
            } else if(!result){
              console.log("비밀번호 틀림");
              // 비밀번호가 일치하지 않으면
              alert("비밀번호가 맞지 않습니다.");
              window.location.reload(); // 결과가 false 이면 비밀번호가 틀렸다는 메시지를 전달하고 페이지를 reload 한다.
            }
          }).fail(function(error){
            alert(JSON.stringify(error));
          })
        }
      });
    </script>

</body>
</html>